
@{
    ViewBag.Title = "CrudJS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<h2>Regitro de los Usuarios Java Script</h2>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="Formulario()">
    Agregar Usuario
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="IdUsuario">
                <div class="row mb-4">
                    <div class="col-3">
                        <label for="UserName">Usuario</label>
                        <input type="text" id="UserName" name="UserName" class="form-control text-primary" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label for="Nombre" class="validar">Nombre</label>
                        <input type="text" id="Nombre" name="Nombre" class="validar form-control text-primary" onkeypress="SoloLetras(event)" onblur="LimpiarBorde(event)" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                        <span class="error"></span>
                    </div>
                    <div class="col-3">
                        <label for="ApellidoPaterno" class="validar">Apellido Paterno</label>
                        <input type="text" id="ApellidoPaterno" name="ApellidoPaterno" class="validar form-control text-primary" onkeypress="SoloLetras(event)" onblur="LimpiarBorde(event)" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                        <span class="error"></span>
                    </div>
                    <div class="col-3">
                        <label for="ApellidoMaterno" class="validar">Apellido Materno</label>
                        <input type="text" id="ApellidoMaterno" name="ApellidoMaterno" class="validar form-control text-primary" onkeypress="SoloLetras(event)" onblur="LimpiarBorde(event)" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                        <span class="error"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label for="Email" class="validar">Email</label>
                        <input type="email" id="Email" name="Email" class="form-control text-primary" style="background:#87CEEB;" placeholder="example@gmail.com">
                        <span class="text-danger"></span>
                        <span class="error"></span>
                    </div>
                    <div class="col-3">
                        <label for="password" class="validar">Contraseña</label>
                        <input type="text" id="password" name="Password" class="form-control text-primary" onblur="validarContrasena(event)" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                        <span class="error"></span>
                        <br>
                        <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control text-primary" onblur="confirmarContrasena(event); LimpiarBorde(event)" placeholder="Confirmar Contraseña" style="background:#87CEEB;">
                        <span class="error"></span>
                    </div>
                    <div class="col-3">
                        <label for="Fecha">Fecha de Nacimiento</label>
                        <input type="text" id="Fecha" name="FechaNacimiento" class="form-control text-primary" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label for="Curp" class="validar">CURP</label>
                        <input type="text" id="Curp" name="Curp" class="form-control text-primary" onblur="validarcurp(event)" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                        <span class="error"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mt-4 d-flex flex-row justify-content-center align-items-center">
                        <div class="form-check form-check-inline mt-1">
                            <input type="radio" name="Sexo" value="M" class="form-check-input" ">
                            <label class="form-check-label">Hombre</label>
                        </div>
                        <div class="form-check form-check-inline mt-1">
                            <input type="radio" name="Sexo" value="F" class="form-check-input" >
                            <label class="form-check-label">Mujer</label>
                        </div>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="Telefono" class="validar">Teléfono</label>
                        <input type="text" id="Telefono" name="Telefono" class="form-control text-primary" onkeypress="SoloNumeros(event)" onblur="LimpiarBorde(event)" style="background:#87CEEB;">
                        <span class="error"></span>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label for="Celular" class="validar">Celular</label>
                        <input type="text" id="Celular" name="Celular" class="form-control text-primary" onkeypress="SoloNumeros(event)" onblur="LimpiarBorde(event)" style="background:#87CEEB;">
                        <span class="error"></span>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label for="Rol">Rol</label>
                        <select id="ddlRol" name="Rol.IdRol" class="form-select">
                            <option value="0">Selecciona una opción</option>
                        </select>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <h2 class="text-center">Dirección</h2>
                <div class="row mb-4">
                    <div class="col-4">
                        <label for="Calle">Calle</label>
                        <input type="text" id="Calle" name="Direccion.Calle" class="form-control text-primary" placeholder="Ingresa la calle" style="background:#87CEEB;">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label for="NumeroExterior">Número Exterior</label>
                        <input type="text" id="NumeroExterior" name="Direccion.NumeroExterior" class="form-control text-primary" onkeypress="SoloNumeros(event)" onblur="LimpiarBorde(event)" placeholder="Ej. 123" style="background:#87CEEB;">
                        <span class="error"></span>
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <label for="NumeroInterior">Número Interior</label>
                        <input type="text" id="NumeroInterior" name="Direccion.NumeroInterior" class="form-control text-primary" onkeypress="SoloNumeros(event)" onblur="LimpiarBorde(event)" placeholder="Ej. 4A" style="background:#87CEEB;">
                        <span class="error"></span>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-4">
                    <!-- Estado -->
                    <div class="col-md-4">
                        <label for="ddlEstado">Estado</label>
                        <select id="ddlEstado" class="form-select">
                            <option value="">Selecciona un Estado</option>
                        </select>
                        <span class="text-danger error"></span>
                    </div>


                    <div class="col-md-4">
                        <label for="ddlMunicipio">Municipio</label>
                        <select id="ddlMunicipio" class="form-select">
                            <option value="">Selecciona un Municipio</option>
                        </select>
                        <span class="text-danger error"></span>
                    </div>


                    <div class="col-md-4">
                        <label for="ddlColonia">Colonia</label>
                        <select id="ddlColonia" class="form-select">
                            <option value="">Selecciona una Colonia</option>
                        </select>
                        <span class="text-danger error"></span>
                    </div>

                </div>
                <div class="row mt-4">
                    <label>Imagen</label>
                    <input type="file" accept=".png" name="ImagenUsuario" onchange="validarImagen(); visualizarImagen(this)" id="inptFileImagen" class="form-select">
                </div>

                <div class="text-center mt-4">
                    <img id="img" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" style="width:10%;">
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="GuardarUsuario()">Guardar</button>
            </div>
        </div>
    </div>
</div>



<div class="table-responsive" id="table">
    <table class="table table-striped  table-bordered">
        <thead>
            <tr class="table-dark">

                <th scope="col">Status </th>
                <th scope="col">Editar</th>
                <th scope="col">Username</th>
                <th scope="col">Nombre</th>
                <th scope="col">ApellisoPaterno</th>
                <th scope="col">ApellidoMaterno</th>
                <th scope="col">Email</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Fecha</th>
                <th scope="col">Sexo</th>
                <th scope="col">Telefono</th>
                <th scope="col">Celular</th>
                <th scope="col">Estatus</th>
                <th scope="col">CURP</th>
                <th scope="col">Imagen</th>
                <th scope="col">Rol </th>
                <th scope="col">Direccion</th>
                <th scope="col">Borrar</th>

            </tr>
        </thead>
        <tbody id="UsuarioTabla">
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script>



    var ruta = '@Url.Action("GetAllJS", "Usuario")'
    var CambioEstatus = "@Url.Action("CambioEstatus", "Usuario")"
    var rutaForm =  '@Url.Action("FormJS", "Usuario")'
    var urlGetById = "@Url.Action("GetByIdJS", "Usuario")"
    var rutaEliminar = '@Url.Action("DeleteJS", "Usuario")';
    var ddlRol = "@Url.Action("RolGetAll", "Usuario")"



</script>
<script src="~/Scripts/FormJS/FormJavaScript.js"></script>
<script src="~/Scripts/CRUD/JavaScript.js"></script>
